aiofiles==0.8.0
aiohttp==3.7.3
anyio==3.5.0
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.4.0
chardet==3.0.4
click==8.0.4
dnspython==2.2.1
fastapi==0.75.0
h11==0.13.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.1.0
motor==2.3.1
multidict==6.0.2
odmantic==0.3.5
pydantic==1.8.2
pymongo==3.12.3
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.5
yarl==1.7.2
